<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--组件样式-->
    <link rel="stylesheet" href="lib-master/theme-chalk/index.css"/>
    <!--vuejs样式-->
    <script src="js/vue.js" type="text/javascript"></script>
    <!--组件js文件-->
    <script src="lib-master/index.js" type="text/javascript" charset="UTF-8"></script>
    <!--数据访问-->
    <script type="text/javascript" src="axios-master/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <template>
        <el-tabs v-model="activeName" type="card" @tab-click="handleClick">

            <el-tab-pane label="医生管理" name="first">
                <el-form :inline="true" :model="bors" class="demo-form-inline">
                    <el-form-item label="姓名">
                        <el-input v-model="bors.dname" style="width: auto"></el-input>
                        <el-button type="primary" @click="selectlike">查询</el-button>
                    </el-form-item>
                    <el-form-item>

                        <el-button @click="showtable1(),dialogVisible1=true">禁用名单</el-button>
                        <el-button type="primary" @click="dialogVisible=true">添加员工</el-button>

                    </el-form-item>
                </el-form>
                <template>
                    <el-table
                            :data="tableData"
                            style="width: 100%"
                            :row-class-name="tableRowClassName">
                        <el-table-column
                                prop="did"
                                label="id">
                        </el-table-column>
                        <el-table-column
                                prop="dname"
                                label="姓名">
                        </el-table-column>
                        <el-table-column
                                prop="dsex"
                                label="性别">
                        </el-table-column>
                        <el-table-column
                                prop="dage"
                                label="年龄">
                        </el-table-column>
                        <el-table-column
                                prop="dtel"
                                label="电话">
                        </el-table-column>
                        <el-table-column
                                prop="depart.dename"
                                label="科室">
                        </el-table-column>
                        <el-table-column
                                prop="dpost"
                                label="职务">
                        </el-table-column>
                        <el-table-column
                                prop="dtime"
                                label="入职时间">
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                width="180px">
                            <template scope="scope">
                                <el-button type="primary">修改</el-button>
                                <el-button @click="updates(scope.row)">禁用</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="currentPage"
                            :page-sizes="[5, 10, 30, 50]"
                            :page-size="pagesize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="total">
                    </el-pagination>
                </template>


                <el-dialog
                        title="添加医生"
                        :visible.sync="dialogVisible"
                        width="30%"
                        :before-close="handleClose">
                    <span>
                        <el-form :label-position="labelPosition" label-width="80px" :model="bor">
                          <el-form-item label="名称">
                            <el-input v-model="bor.dname"></el-input>
                          </el-form-item>
                              <el-form-item label="性别">
                          <el-radio-group v-model="bor.dsex">
                              <el-radio label="男"></el-radio>
                              <el-radio label="女"></el-radio>
                            </el-radio-group>
                              </el-form-item>
                          <el-form-item label="年龄">
                            <el-input v-model="bor.dage"></el-input>
                          </el-form-item>

                            <el-form-item label="电话">
                            <el-input v-model="bor.dtel"></el-input>
                          </el-form-item>

                         <el-form-item label="科室" prop="region">
                            <el-select v-model="bor.depart.deid" placeholder="请选择科室">
                                <el-option
                                        v-for="item in depart"
                                        :key="item.deid"
                                        :label="item.dename"
                                        :value="item.deid">
                                </el-option>
                            </el-select>
                          </el-form-item>

                            <el-form-item label="职务">
                                <el-input v-model="bor.dpost"></el-input>
                            </el-form-item>

                        </el-form>
                    </span>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="dialogVisible = false">取 消</el-button>

                        <el-button type="primary" @click="insert(),dialogVisible = false">确 定</el-button>

                    </span>
                </el-dialog>

                <el-dialog
                        title="黑名单"
                        :visible.sync="dialogVisible1"
                        width="80%"
                        :before-close="handleClose">
                    <span>
                         <template>
                    <el-table
                            :data="tableData1"
                            style="width: 100%"
                            :row-class-name="tableRowClassName">
                        <el-table-column
                                prop="did"
                                label="id">
                        </el-table-column>
                        <el-table-column
                                prop="dname"
                                label="姓名">
                        </el-table-column>
                        <el-table-column
                                prop="dsex"
                                label="性别">
                        </el-table-column>
                        <el-table-column
                                prop="dage"
                                label="年龄">
                        </el-table-column>
                        <el-table-column
                                prop="dtel"
                                label="电话">
                        </el-table-column>
                        <el-table-column
                                prop="depart.dename"
                                label="科室">
                        </el-table-column>
                        <el-table-column
                                prop="dpost"
                                label="职务">
                        </el-table-column>
                        <el-table-column
                                prop="dtime"
                                label="入职时间">
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                width="180px">
                            <template scope="scope">
                                <el-button @click="updatess(scope.row)">取消禁用</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination
                            @size-change="handleSizeChange1"
                            @current-change="handleCurrentChange1"
                            :current-page="currentPage1"
                            :page-sizes="[5, 10, 30, 50]"
                            :page-size="pagesize1"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="total1">
                    </el-pagination>
                </template>
                    </span>
                    <span slot="footer" class="dialog-footer">
                        <el-button type="primary" @click="dialogVisible1 = false">确 定</el-button>

                    </span>
                </el-dialog>
            </el-tab-pane>
            <el-tab-pane label="配置管理" name="second">配置管理</el-tab-pane>
        </el-tabs>
    </template>
</div>


<style>
    .el-table .warning-row {
        background: oldlace;
    }

    .el-table .success-row {
        background: #f0f9eb;
    }
</style>

<script type="text/javascript">
    var app = new Vue({
        el: "#app",
        data: {
            tableData: [],
            tableData1: [],
            activeName: 'first',
            pagesize: 5,
            pagesize1: 5,
            currentPage: 1,
            currentPage1: 1,
            total: 0,
            total1: 0,
            bor: {
                dname:'',
                dsex:'男',
                dage:'',
                dtel:'',
                depart:{},
                dpost:'',

            },
            dialogVisible: false,
            depart: [],
            bors:{
                dname:'',
            },
            dialogVisible1:false,

        },
        methods: {
            showtable() {
                var _this = this;
                var start = (this.currentPage - 1) * this.pagesize;
                axios.get('doc/selectAll', {
                    params: {
                        start: start,
                        pagesize: _this.pagesize,
                        dname: _this.bors.dname,
                        status: 'N'
                    }
                })
                    .then(function (response) {
                        console.log(response);
                        _this.tableData = response.data.doc;
                        _this.total = response.data.total
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            showtable1() {
                var _this = this;
                var start = (this.currentPage1 - 1) * this.pagesize1;
                axios.get('doc/selectAll', {
                    params: {
                        start: start,
                        pagesize: _this.pagesize1,
                        dname:'',
                        status: 'D'
                    }
                })
                    .then(function (response) {
                        console.log(response);
                        _this.tableData1 = response.data.doc;
                        _this.total1 = response.data.total
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            selectlike() {
                this.showtable()
            },
            updates(bor) {
                var _this = this;
                bor.status='D'
                console.log(bor)
                axios.get('doc/updates', {
                    params: {
                        did: bor.did,
                        status:bor.status
                    }
                })
                    .then(function (response) {
                        console.log(response);
                        _this.showtable()
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            updatess(bor) {
                var _this = this;
                bor.status='N'
                console.log(bor)
                axios.get('doc/updates', {
                    params: {
                        did: bor.did,
                        status:bor.status
                    }
                })
                    .then(function (response) {
                        console.log(response);
                        _this.showtable()
                        _this.showtable1()
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },insert() {
                var _this=this
                console.log(this.bor)
                axios.post('doc/insert',_this.bor)
                    .then(function (response) {
                        console.log(response);
                        _this.showtable()
                        //_this.bor={}
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            showdepart(){
                var _this=this;
                axios.get('de/selectAll', )
                    .then(function (response) {
                        console.log(response);
                       _this.depart=response.data
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
            ,
            handleClick(tab, event) {
                console.log(tab, event);
            },
            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.pagesize = val
                this.showtable()
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.currentPage = val
                this.showtable()
            },
            handleSizeChange1(val) {
                console.log(`每页 ${val} 条`);
                this.pagesize1 = val
                this.showtable1()
            },
            handleCurrentChange1(val) {
                console.log(`当前页: ${val}`);
                this.currentPage1 = val
                this.showtable1()
            },
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {
                    });
            }
        },
        created() {
            this.showtable()
            this.showdepart()
        }
    })
</script>
</body>
</html>